/*---------------------------------------*/
/*index.html Styling*/
/*---------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    background-color:#fff;
    color: black;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
hr {
    border: 5px solid white;
}
.backgroundinfo {
    color: white;
    margin-top: 35px;

}
/*---------------------------------------*/
/*Reusable Elements*/
/*---------------------------------------*/
.logo {
    height: 150px;
    width: auto;
    float: left;
    transform: translate(-5px, -20px);
    margin-top: 20px;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}
header {
    background-image: linear-gradient(rgba(155, 153, 153, 0.623),rgba(155, 153, 153, 0.623)), url(img/gal2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logoname {
    margin-bottom: 10px;
    color:white;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;

}
/*---------------------------------------*/
/*music.html Styling*/
/*---------------------------------------*/

.header-two {
    background-image: linear-gradient(rgba(134, 131, 131, 0.623),rgba(134, 131, 131, 0.623)), url(img/gal5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.album {
    display: inline-block;
    transform: translate(-300px,100px);
}
.album2 {
    transform: translate(300px,-373px);
}
.album3 {
    transform: translate(700px,-942px);
}
.albumcover {
 display: inline-block;
 padding: 10px;
 height: 300px; 
 width: auto;
 margin: 10px 15px;
 display: inline-block;
}
.latestmusic {
    color: white;
    font-size: 70px;
}
.albumname {
    font-size: 40px;
    transform: translate(19px,0px);
}
.albums {
    transform: translate(40px,100px);
}
/*News Page Styling*/
.header-three {
    background-image: linear-gradient(rgba(134, 131, 131, 0.623),rgba(134, 131, 131, 0.623)), url(img/gal4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.news {
    color: white;
    margin-top: 35px;
    margin-left: 35px;
    list-style: square;
}
footer {
    background-image: linear-gradient(rgba(134, 131, 131, 0.623),rgba(134, 131, 131, 0.623)), url(img/gal6.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}